<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Participants</title>
    </meta>
</head>
<body>
People hosting parties:
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="signup : ${signups}">
        <td th:utext="${signup.id}">id</td>
        <td th:utext="${signup.name}">name</td>
    </tr>
</table>

Want to know where a party is? Enter id to get the address:
<form action="#" th:action="@{/participants}" method="POST">
    <p><label for="id">Id</label>: <input type="text" name="id" id="id"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<p th:utext="${address}"></p>
</body>
</html>